body {
    background-image: url("img\background.jpg");
    background-repeat: no-repeat;
}

.timePassed {
    color: red;
}

.flashclass{
    background-color: black;
    color: white;
}

h3 {
    margin-top:0px;
    margin-bottom: 0px;
}

.nonflashclass{
    background-color: white;
    color: black;
}